@model IEnumerable<MVC_Day1_Money.Models.ViewModel.Money>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    #
                </th>
                <th>
                    類別
                </th>
                <th>
                    日期
                </th>
                <th>
                    金額
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.SpendClass
                    </td>
                    <td>
                        @item.SpendTime.ToString("yyyy-MM-dd")
                    </td>
                    <td>
                        @item.SpenSum
                    </td>
                </tr>
            }

        </table>
        <p> 
            @if (ViewBag.Prev)
            {
                <a href="#" id="first"><<</a>
                <a href="#" id="prev"><</a>
            }
            <span style="margin:5px;" id="Page">@ViewBag.Page</span> /
            <span style="margin:5px;" id="TotalPages">@ViewBag.TotalPages</span>
            <span style="margin:5px;display:none;" id="Counts">@ViewBag.Counts</span>
            @if (ViewBag.Next)
            {
                <a href="#" id="next">></a>
                <a href="#" id="last">>></a>
            }
        </p>
    </div>
</div>