@model IEnumerable<MVC_Day1_Money.Models.ViewModel.Money>
@using MVC_Day1_Money.Helper


<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    #
                </th>
                <th>
                    類別
                </th>
                <th>
                    日期
                </th>
                <th>
                    金額
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                        @*@Ajax.ActionLink(item.Id.ToString(), "Edit", "Money", new { MoneyId = item.Key }, new AjaxOptions { UpdateTargetId = "MoneyDetail", HttpMethod = "GET" })*@
                    </td>
                    <td>
                        @Html.Raw(Html.SpenClasscolor(item.SpendClass))
                        @*@item.SpendClass*@
                    </td>
                    <td>
                        @item.SpendTime.ToString("yyyy-MM-dd")
                    </td>
                    <td>
                        @item.SpenSum
                    </td>
                </tr>
            }

        </table>
        <p> 
            @if (ViewBag.Page != 1)
            {
                <a href="#" id="first"><<</a>
                <a href="#" id="prev"><</a>
            }
            <span style="margin:5px;" id="Page">@ViewBag.Page</span> /
            <span style="margin:5px;" id="TotalPages">@ViewBag.TotalPages</span>
            <span style="margin:5px;display:none;" id="Counts">@ViewBag.Counts</span>
            @if (ViewBag.Page != ViewBag.TotalPages)
            {
                <a href="#" id="next">></a>
                <a href="#" id="last">>></a>
            }
        </p>
    </div>
</div>