@model MVC_Day1_Money.Models.ViewModel.Money


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Money</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
           @* @Html.LabelFor(model => model.Key, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Key)
                @*@Html.EditorFor(model => model.Key, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Key, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.SpendClass, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SpendClass", (IEnumerable<SelectListItem>)ViewBag.Categorys)
                @*@Html.EditorFor(model => model.SpendClass, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.SpendClass, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SpendTime, htmlAttributes: new { @type = "date", @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.TextBoxFor(m => m.SpendTime, new { @type = "date", @class = "form-control"})*@
                @Html.EditorFor(model => model.SpendTime, new { htmlAttributes = new {@type = "date", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SpendTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SpenSum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SpenSum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SpenSum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @maxlength = "100" })
                @*@Html.EditorFor(model => model.Description, new { htmlAttributes = new {@type="", @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="#" id="Close">Close</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
