@model  MVC_Day1_Money.Models.ViewModel.Money
@{
    ViewBag.Title = "Index";
}

<div class="well">
    @using (Html.BeginForm("Add", "Money", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-horizontal">
            <div class="form-group">
                <label for="category" class="col-sm-2 control-label">類別</label>
                <div class="col-sm-10">
                    @Html.DropDownList("SpendClass", (IEnumerable<SelectListItem>)ViewBag.Categorys, null, new { style = "width:120px;" })
                </div>
            </div>
            <div class="form-group">
                <label for="money" class="col-sm-2 control-label">金額</label>
                <div class="col-sm-10">
                    @*@Html.EditorFor(model => model.SpenSum, new { htmlAttributes = new { @type = "number", @class = "form-control", @placeholder = "金額" } })*@
                    @Html.TextBoxFor(m => m.SpenSum,new { @type="number", @class= "form-control", placeholder = "金額" })
                    @Html.ValidationMessageFor(m=>m.SpenSum)
                </div>
            </div>
            <div class="form-group">
                <label for="date" class="col-sm-2 control-label">日期</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.SpendTime, new { @type = "date", @class = "form-control", @Value = DateTime.Now.ToString("yyyy-MM-dd") })
                   @* @Html.EditorFor(model => model.SpendTime, new { htmlAttributes = new { @type = "date", @class = "form-control", @Value = DateTime.Now.ToString("yyyy-MM-dd") } })*@
                    @Html.ValidationMessageFor(m=>m.SpendTime)
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">備註</label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(m=>m.Description, new { @class= "form-control", @maxlength="100" })
                    @Html.ValidationMessageFor(m=>m.Description)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-4">
                    <button type="submit" class="btn btn-default" id="add">送出</button>
                </div>
            </div>
        </div>
    }
</div>

<div id="MoneyList" style="width:100%; text-align:center;">
    @Html.Action("_MoneyListPartialView")
    @*@Html.Partial("_MoneyListPartialView")*@
</div>

@section scripts {
@Scripts.Render("~/bundles/jqueryval")
    <script>
        $.validator.addMethod("dayattribute", function (value, element, param) {
            if (value == false) {
                return true;
            }
            console.log(value);
            return Date.parse(value) <= new Date();
            if (value.indexOf(param) != -1) {
                return false;
            }
            else {
                return true;
            }
        });
        $.validator.unobtrusive.adapters.addSingleVal("dayattribute", "inputdays");

        $(function () {

            $(document).on("click", "#next", function () {
                var $Page = parseInt($("#Page").html()) + 1;
                var $TotalPages = parseInt($("#TotalPages").html());
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ChangePage", "Money")",
                    data: { Page: $Page, TotalPages: $TotalPages },
                    success: function (data) {
                        $("#MoneyList").empty().html(data);
                    }
                });
            });

            $(document).on("click", "#prev", function () {
                var $Page = parseInt($("#Page").html()) - 1;
                var $TotalPages = parseInt($("#TotalPages").html());
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ChangePage", "Money")",
                    data: { Page: $Page, TotalPages: $TotalPages },
                    success: function (data) {
                        $("#MoneyList").empty().html(data);
                    }
                });
            });

            $(document).on("click", "#first", function () {
                var $Page = 1;
                var $TotalPages = parseInt($("#TotalPages").html());
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ChangePage", "Money")",
                    data: { Page: $Page, TotalPages: $TotalPages },
                    success: function (data) {
                        $("#MoneyList").empty().html(data);
                    }
                });
            });

            $(document).on("click", "#last", function () {
                var $Page = parseInt($("#TotalPages").html());
                var $TotalPages = parseInt($("#TotalPages").html());
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ChangePage", "Money")",
                    data: { Page: $Page, TotalPages: $TotalPages },
                    success: function (data) {
                        $("#MoneyList").empty().html(data);
                    }
                });
            });

            //$(document).on("click", "#add", function () {
            //    return false;
            //});
        })
    </script>
}
